html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

#header, #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 25px;
}

.title {
    font-size: 32px;
}

button {
    font-size: 16px;
    width: fit-content;
}

.company {
    font-size: 16px;
}

.sketchpad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 800px;
    height: 800px;
    border-radius: 50px;
}

#bottom-row {
    display: flex;
    justify-content: space-between;
    width: 700px;
    padding-top: 25px;
    padding-bottom: 50px;
    align-items: center;
}

.image {
    padding: 25px;
}

.knob {
    background-color: white;
    border: solid;
    border-color: black;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    justify-content: center;
    border: solid;
    border-color: black;
    background-color: rgb(188, 188, 188);
}

.row-item {
    display: flex;
    flex: 1 1 0;
}

.col-item {
    flex: 1 1 0;
    border: solid;
    border-color: black;
}

.col-item-fill {
    flex: 1 1 0;
    border: solid;
    border-color: black;
    background-color: black;
}